*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
.navbar-brand{
	font-size: 2.5rem!important;
	font-weight: bold;
}
#menu li{
	margin-left: 10px!important;
}
#menu li a{
	font-size: 16px!important;
	font-weight: 500;
	
}
#banner{
	background-image: linear-gradient(rgba(6, 82, 221, 0.1),rgba(6, 82, 221,0.7)),url('../images/banner2.jpg');
	background-repeat: no-repeat;
	background-position: center-top;
	background-size: cover;
	width: 100%;
	height: 100vh;
}
#banner .banner-title{
	margin-top: 140px;
	color: #fff;
	font-weight: 480px;
/*	background: rgba(6, 82, 221, 0.6);*/
	padding: 50px 40px;
}
#banner .banner-title .title{
	color: #fff;
	padding: 15px 0px;
}
#banner .banner-title h1.title{
	font-size: 2.8rem;
}
#banner .banner-title .lead{
	text-transform: uppercase;
	margin-bottom: 30px;
}
#banner .banner-title .btn{
	width: 200px;
	padding: 10px 30px; 
	text-align: center;
	font-weight: 600;
	background: #0652DD;
	border: 1px solid #fff;
	color: #ffff;
	transition: all 0.5s;
}
#banner .banner-title .btn:hover{
	background: #fff;
	color: #0652DD;
}
/*START MEGA MENU*/
.mega-menu{
    width: 500px;
    padding: 15px;
    overflow: hidden;
    font-size: 11px;

}
.mega-menu p{
    font-size: 10px;
    border-bottom: 1px dotted #0652DD;
}
.mega-menu .menu-col a{
	font-size: 11px;
}
.mega-menu a{
    color: #0652DD;
    text-decoration: none;
    font-size: 10px;

}
.mega-menu a:hover{
    margin-left: 5px;
    transition: all 0.5s ease;
    color: navy;

}
.mega-menu .sub-menu-heading{
    color: #ff2800;
    text-transform: uppercase;
}

@media(max-width:700px){
    .mega-menu{
        width: 250px;
    }
    .menu-col{
        padding: 10px;
    }
    
}




/*END MEGA MENU*/
.icon_box{
	background: #0652DD;
	color: #fff; 
	transition: all 0.5s ease;
}
.icons_row .icon_box:hover{
	color: #0652DD;
	background: #fff;
	transform: translateY(-10px);
}

#icon .icons_row{
	margin-top: -70px;
	}
.icons_row .icon_box{
	padding: 40px 70px;
	text-align: center;
	margin-bottom: 5px;
}
.section{
	padding-top: 50px;
	padding-bottom: 60px; 
	margin-bottom: 20px;
}

.section_title{
	text-align: center;
	padding: 30px 20px;
	padding-top: 60px;
}
 h2.section_title:after{
    background: #0652DD;
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    margin: 20px auto;
}
/*about*/
#about{
	width: 100%;

}

/*department*/
#department{
	/*background: #0652DD!important;*/ 
}
#department .btn_dept{
	width: 130px;
	padding: 6px 20px; 
	text-align: center;
	font-weight: 500;
	background: #0652DD;
	border: 1px solid #fff;
	color: #ffff;
	transition: all 0.5s;
	margin-top: 10px;
}
#department .btn_dept:hover{
	background: #fff;
	color: #0652DD;
	border: 1px solid #0652DD;
}

/*appointment*/
#appointment{
	width: 100%;
	background-image: url('../images/banner3.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
/*doctors*/
#doctors .card{
	border: 1px solid #0652DD;
}
#doctors .card .card-body{
	padding: 9px;
	background: #0652DD;
	color: #fff;
}
#doctors .card i{
	padding: 5px;
	font-size: 1.3rem;
	color: #fff;
	cursor: pointer;
	transition: all 0.5s ease;
}
#doctors .card i:hover{
	transform: scale(1.4);
}
/*service*/
#service{
	width: 100%;
	padding-top: 70px;
	padding-bottom: 60px;
}
#service .service_container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
#service .service_box{
	width: 360px;
	height: 110px;
	background: #0652DD;
	color: #fff;
	padding: 5px 10px;
	text-align: center; 
	margin: 10px;
	padding-top: 30px;
	cursor: pointer;
}
#service .service_box:hover{
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
	transform: translateY(-10px);
	transition: all 0.5s ease;
}

/*footer*/
#footer{
	width: 100%;
	padding-top: 70px;
	padding-bottom: 50px;
	background: #0652DD;
	color: #fff;
	margin-top: 50px;
}
#footer .footer_content a{
	color: #fff;
}
#footer li{
	margin-bottom: 8px;
}
#footer li a{
	color: #fff;
}

#footer i{
	color: #fff;
	font-size: 1.3rem;
}
#footer .footer_title{
	margin-bottom: 25px;
}

/*responsive code*/
@media(max-width: 768px){

	#banner .banner-title{
	margin-top: 60px;
	color: #fff;
	font-weight: 300px;
/*	background: rgba(6, 82, 221, 0.6);*/
	padding: 40px 20px;
}
	#banner .banner-title h1.title{
	font-size: 2rem;
}
	#banner .banner-title .lead{
	text-transform: uppercase;
	margin-bottom: 30px;
	font-size: 14px;
}
#about{
	width: 100%;
	padding-left: 15px;
}
.section_title{
	text-align: center;
	padding: 30px 20px;
	padding-top: 30px;
	font-size: 1.5rem;
}

#footer{
	width: 100%;
	padding-top: 50px;
	padding-bottom: 40px;
	background: #0652DD;
	color: #fff;
	padding-left: 15px;
}
#footer .footer_title{
	font-size: 14px;
}
h4{
	font-size: 1.3rem;
}
	




}
/*about us second page*/
#about_banner{
	background-image: linear-gradient(rgba(6, 82, 221, 0.1),rgba(6, 82, 221,0.7)),url('../images/about.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100vh;

}
#about_banner .banner-title{
	margin-top: 140px;
	color: #fff;
	font-weight: 480px;
/*	background: rgba(6, 82, 221, 0.6);*/
	padding: 50px 40px;
}
#about_banner .banner-title .title{
	color: #fff;
	padding: 15px 0px;
}
#about_banner .banner-title h1.title{
	font-size: 2.8rem;
}
#about_banner .banner-title .lead{
	text-transform: uppercase;
	margin-bottom: 30px;
}
/*contact us third page*/
.social_icons{
	font-size: 1.7rem;
}
.social_icons i{
	margin-right: 10px;
	color: #0652DD; 
}

